<!--后台首页-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charSet="UTF-8">
    <title>CrossTheWorld 自我管理平台 后台</title>
    <script src="/time/js/jquery-1.10.2.js"></script>

    <link rel="stylesheet" href="/time/layui/css/layui.css">
    <script src="/time/layui/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">来往人间自我管理平台 后台</div>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="//tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg"
                         class="layui-nav-img">
                    <span th:text="${adminUser.name}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="logout">注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li th:each="menu:${menus}" class="layui-nav-item layui-nav-itemed">
                    <a class="" href="javascript:;">
                        <i th:class="${menu.icon}"></i>
                        <span th:text="${menu.title}"></span>
                    </a>
                    <dl class="layui-nav-child" th:each="child : ${menu.children}">
                        <dd>
                            <!--    <a th:href="${child.url}" th:text="${child.title}"></a>-->
                            <a class="" th:href="${child.url}">
                                <i th:class="${child.icon}"></i>
                                <span th:text="${child.title}"></span>
                            </a>

                        </dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <iframe id="iframMain" src="ques/mbtiQuestionManage" style="width: 100%;height: 100%"></iframe>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        来往人间 后台
    </div>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function () {
        var element = layui.element;
    });
    $(function () {
        //页面加载之后执行的代码
        //点击a标签的时候，修改iframe的src属性
        $("dd>a").click(function (e) {
            //阻断超链接的跳转事件
            e.preventDefault();
            //取得超链接对象的href属性值赋给iframe的src属性
            $("#iframMain").attr("src", $(this).attr("href"));
        })
    })
</script>
</body>
</html>
